<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.john.miaosha.product.mapper.ProductDetailMapper">


    <insert id="saveProductDetail" parameterType="com.john.miaosha.entity.ProductDetail">
        INSERT INTO product_detail
        (product_id, product_place, product_brand, product_desc, product_weight, product_detail_picture_url, specification_and_pack)
        VALUES
        (#{productId}, #{productPlace}, #{productBrand}, #{productDesc}, #{productWeight}, #{productDetailPictureUrl}, #{specificationAndPack})
    </insert>

    <select id="findProductDetailById" resultType="com.john.miaosha.entity.ProductDetail">
        SELECT id, product_id productId, product_place productPlace, product_brand productBrand, product_desc productDesc,
        product_weight productWeight, product_detail_picture_url productDetailPictureUrl, specification_and_pack specificationAndPack
        FROM product_detail
        WHERE id = #{id}
    </select>


</mapper>
