<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>商品标题</td>
        <td>商品编号</td>
        <td>店铺编号</td>
        <td>秒杀数量</td>
        <td>商品价格</td>
        <td>秒杀价格</td>
        <td>商品名称</td>
        <td>秒杀库存</td>
        <td>秒杀开始时间</td>
        <td>秒杀结束时间</td>
        <td>创建时间</td>
    </tr>
    <tr th:each="entity:${list}">
        <td><a href="#" th:href="@{/seckill/toSeckillProductDetail(id=${entity.id})}"><span th:text="${entity.getProductTitle}"/></a></td>
        <td><span th:text="${entity.productId}"/></td>
        <td><span th:text="${entity.shopId}"/></td>
        <td><span th:text="${entity.seckillNum}"/></td>
        <td><span th:text="${entity.productPrice}"/></td>
        <td><span th:text="${entity.seckillPrice}"/></td>
        <td><span th:text="${entity.productName}"/></td>
        <td><span th:text="${entity.seckillInventory}"/></td>
        <td><span th:text="${entity.startTime}"/></td>
        <td><span th:text="${entity.endTime}"/></td>
        <td><span th:text="${entity.createTime}"/></td>
    </tr>
</table>
</body>
</html>