<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.john.miaosha.seckill.mapper.SeckillResultMapper">

    <insert id="saveSeckillResult" parameterType="com.john.miaosha.entity.SeckillResult">
        INSERT INTO seckill_result
        (user_id, product_id, seckill_id, result, result_data, sec_time)
        VALUES
        (#{userId}, #{productId}, #{seckillId}, #{result}, #{resultData}, current_timestamp )
    </insert>

    <select id="findSeckillResultByUserId" resultType="com.john.miaosha.entity.SeckillResult">
        SELECT a.user_id userId, a.product_id productId, a.seckill_id seckillId, a.result, a.result_data resultData, a.sec_time secTime,
            b.product_name productName, b.product_title productTitle
        FROM seckill_result a LEFT JOIN seckill b ON a.seckill_id = b.id
        WHERE a.user_id = #{userId}
    </select>


</mapper>
