<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.john.miaosha.seckill.mapper.SeckillMapper">

    <insert id="saveSeckill" parameterType="com.john.miaosha.entity.SeckillInfo">
        INSERT INTO seckill
        (product_id, shop_id, state, seckill_num, product_price, seckill_price, product_title, product_name, seckill_inventory, version, start_time, end_time, create_time)
        VALUES
        (#{productId}, #{shopId}, #{state}, #{seckillNum}, #{productPrice}, #{seckillPrice}, #{productTitle}, #{productName}, #{seckillInventory}, 1, #{startTime}, #{endTime}, current_timestamp )
    </insert>

    <select id="listSeckillInfo" parameterType="com.john.miaosha.vo.SeckillInfoVo" resultType="com.john.miaosha.entity.SeckillInfo">
        SELECT id, product_id productId, shop_id shopId, state, seckill_num seckillNum, product_price productPrice, product_title productTitle, product_name productName,
        seckill_price seckillPrice, seckill_inventory seckillInventory, version, start_time startTime, end_time endTime, create_time createTime, approve_time approveTime
        FROM seckill
        <where>
            <include refid="seckillInfoCondition"></include>
        </where>
    </select>
    <sql id="seckillInfoCondition">
        <if test="seckillInfoCondition != null">
            <if test="seckillInfoCondition.shopId != null and seckillInfoCondition.shopId != ''">
                and shop_id = #{seckillInfoCondition.shopId}
            </if>
            <if test="seckillInfoCondition.state != null and seckillInfoCondition.state != ''">
                and state = #{seckillInfoCondition.state}
            </if>
        </if>
    </sql>


    <update id="updateSeckillInfoBy" parameterType="com.john.miaosha.entity.SeckillInfo">
        UPDATE seckill
        SET state = #{state}, update_time = current_timestamp
        <if test="state == 1 or state == 2">
            , approve_time = current_timestamp
        </if>
        WHERE id = #{id}
    </update>

    <update id="updateSeckillInfoBySeckNum" parameterType="com.john.miaosha.entity.SeckillInfo">
        UPDATE seckill
        SET seckill_num = #{seckillNum}, update_time = current_timestamp
        WHERE id = #{id}
    </update>

    <update id="updateSeckillInfoByVersion" parameterType="com.john.miaosha.entity.SeckillInfo">
        UPDATE seckill
        SET seckill_num = #{seckillNum}, version = #{version} + 1, update_time = current_timestamp
        WHERE id = #{id} AND version = #{version}
    </update>

    <update id="seckillNumMinus" parameterType="com.john.miaosha.entity.SeckillInfo">
        UPDATE seckill
        SET seckill_num = seckill_num - 1, update_time = current_timestamp
        WHERE id = #{id}
    </update>

    <select id="findSeckillInfoById" resultType="com.john.miaosha.entity.SeckillInfo">
        SELECT id, product_id productId, shop_id shopId, state, seckill_num seckillNum, product_price productPrice, product_title productTitle, product_name productName,
        seckill_price seckillPrice, seckill_inventory seckillInventory, version, start_time startTime, end_time endTime, create_time createTime, approve_time approveTime
        FROM seckill
        WHERE id = #{id}
        LIMIT 1
    </select>

    <select id="selectForUpdate" resultType="com.john.miaosha.entity.SeckillInfo">
        SELECT id, product_id productId, shop_id shopId, state, seckill_num seckillNum, product_price productPrice, product_tilte productTitle, product_name productName,
        seckill_price seckillPrice, seckill_inventory seckillInventory, version, start_time startTime, end_time endTime, create_time createTime, approve_time approveTime
        FROM seckill
        WHERE id = #{id}
        LIMIT 1
        FOR UPDATE
    </select>

</mapper>
